
.frame1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame1-frame1 {
  width: 100%;
  height: 969px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(78, 145, 85, 1);
}
.frame1-text {
  top: 222px;
  left: 163px;
  color: rgba(0, 0, 0, 1);
  width: 99px;
  height: auto;
  position: absolute;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-ellipse1 {
  top: 89px;
  left: 158px;
  width: 116px;
  height: 117px;
  position: absolute;
}
.frame1-rectangle2 {
  top: 316px;
  left: 121px;
  width: 255px;
  height: 586px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-rectangle3 {
  top: 317px;
  left: 464px;
  width: 274px;
  height: 586px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-text02 {
  top: 326px;
  left: 474px;
  color: rgba(0, 0, 0, 1);
  width: 134px;
  height: auto;
  position: absolute;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-rectangle4 {
  top: 316px;
  left: 790px;
  width: 256px;
  height: 586px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-rectangle5 {
  top: 313px;
  left: 1075px;
  width: 269px;
  height: 589px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.frame1-text04 {
  top: 325px;
  left: 140px;
  color: rgba(0, 0, 0, 1);
  width: 144px;
  height: auto;
  position: absolute;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text06 {
  top: 330px;
  left: 812px;
  color: rgba(0, 0, 0, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text08 {
  top: 330px;
  left: 1106px;
  color: rgba(0, 0, 0, 1);
  width: 164px;
  height: auto;
  position: absolute;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text10 {
  top: 105px;
  left: 298px;
  color: rgba(0, 0, 0, 1);
  width: 135px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-rectangle6 {
  top: 123px;
  left: 495px;
  width: 843px;
  height: 167px;
  position: absolute;
}
.frame1-text12 {
  top: 124px;
  left: 503px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text14 {
  top: 186px;
  left: 503px;
  color: rgba(0, 0, 0, 1);
  width: 144px;
  height: auto;
  position: absolute;
  font-size: 48px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-rectangle7 {
  top: 74px;
  left: 1259px;
  width: 79px;
  height: 31px;
  position: absolute;
}
.frame1-text16 {
  top: 78px;
  left: 1269px;
  color: rgba(0, 0, 0, 1);
  width: 71px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-rectangle8 {
  top: 380px;
  left: 132px;
  width: 137px;
  height: 35px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.frame1-text18 {
  top: 387px;
  left: 149px;
  color: rgba(0, 0, 0, 1);
  width: 130px;
  height: auto;
  position: absolute;
  font-size: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-rectangle9 {
  top: 386px;
  left: 805px;
  width: 208px;
  height: 33px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-text20 {
  top: 392px;
  left: 812px;
  color: rgba(0, 0, 0, 1);
  width: 244px;
  height: auto;
  position: absolute;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-rectangle10 {
  top: 432px;
  left: 807px;
  width: 223px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-rectangle13 {
  top: 560px;
  left: 806px;
  width: 223px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-rectangle12 {
  top: 496px;
  left: 806px;
  width: 223px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-rectangle32 {
  top: 498px;
  left: 1100px;
  width: 223px;
  height: 51px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-text22 {
  top: 517px;
  left: 1109px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-polygon1 {
  top: 532.2081298828125px;
  left: 1305.25634765625px;
  width: 17px;
  height: 16px;
  position: absolute;
}
.frame1-rectangle38 {
  top: 640px;
  left: 1100px;
  width: 223px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-polygon2 {
  top: 667.1497802734375px;
  left: 1301.25634765625px;
  width: 17px;
  height: 16px;
  position: absolute;
}
.frame1-rectangle14 {
  top: 624px;
  left: 805px;
  width: 223px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-rectangle15 {
  top: 759px;
  left: 805px;
  width: 223px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-rectangle17 {
  top: 823px;
  left: 805px;
  width: 223px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-rectangle16 {
  top: 688px;
  left: 805px;
  width: 223px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-rectangle35 {
  top: 565px;
  left: 1100px;
  width: 223px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-polygon4 {
  top: 590.1497192382812px;
  left: 1303.25634765625px;
  width: 17px;
  height: 16px;
  position: absolute;
}
.frame1-text24 {
  top: 576px;
  left: 1113px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-rectangle18 {
  top: 440px;
  left: 479px;
  width: 231px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-rectangle19 {
  top: 568px;
  left: 478px;
  width: 231px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-rectangle36 {
  top: 432px;
  left: 1100px;
  width: 223px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-rectangle20 {
  top: 504px;
  left: 478px;
  width: 231px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-rectangle21 {
  top: 632px;
  left: 477px;
  width: 231px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-rectangle22 {
  top: 696px;
  left: 477px;
  width: 231px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-rectangle25 {
  top: 440px;
  left: 134px;
  width: 231px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-text26 {
  top: 460px;
  left: 143px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-rectangle26 {
  top: 568px;
  left: 133px;
  width: 231px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-rectangle27 {
  top: 504px;
  left: 133px;
  width: 231px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-rectangle28 {
  top: 632px;
  left: 132px;
  width: 231px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-text28 {
  top: 652px;
  left: 143px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-rectangle29 {
  top: 696px;
  left: 132px;
  width: 231px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-rectangle11 {
  top: 520px;
  left: 788px;
  width: 1px;
  height: 2px;
  position: absolute;
}
.frame1-rectangle23 {
  top: 812px;
  left: 560px;
  width: 148px;
  height: 51px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
}
.frame1-text30 {
  top: 831px;
  left: 477px;
  color: rgba(0, 0, 0, 1);
  width: 73px;
  height: auto;
  position: absolute;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-rectangle24 {
  top: 379px;
  left: 482px;
  width: 161px;
  height: 38px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.frame1-text32 {
  top: 391px;
  left: 491px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-rectangle30 {
  top: 800px;
  left: 134px;
  width: 90px;
  height: 50px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-rectangle31 {
  top: 800px;
  left: 233px;
  width: 125px;
  height: 50px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-text34 {
  top: 819px;
  left: 158px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text36 {
  top: 819px;
  left: 255px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text38 {
  top: 527px;
  left: 143px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text40 {
  top: 592px;
  left: 143px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text42 {
  top: 718px;
  left: 143px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text44 {
  top: 654px;
  left: 1113px;
  color: rgba(0, 0, 0, 1);
  width: 60px;
  height: auto;
  position: absolute;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text46 {
  top: 449px;
  left: 1114px;
  color: rgba(0, 0, 0, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-polygon5 {
  top: 465.14971923828125px;
  left: 1303.5184326171875px;
  width: 17px;
  height: 16px;
  position: absolute;
}
.frame1-text48 {
  top: 163px;
  left: 295px;
  color: rgba(0, 0, 0, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text50 {
  top: 134px;
  left: 298px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
